@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

main {
  @apply bg-amber-50 w-screen max-w-3xl mx-auto p-6 my-8 flex flex-col items-stretch gap-6;
}
