@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #app {
    min-height: 100%;
  }

  body {
    margin: 0;
  }

  main {
    @apply bg-amber-50 w-screen max-w-3xl mx-auto p-6 my-8 flex flex-col items-stretch gap-6;
  }

  input {
    @apply border-2 border-black p-1;
  }

  form button {
    @apply p-2 bg-amber-600 text-white hover:cursor-pointer;
  }
}
